
// color
$primaryColor: #00d7ff ;
$secondaryColor: #31333e;
$textColor: #fff;
$subMenuBgColor: #0d1823;
$stickyBgColor: linear-gradient(67deg, #01064a 0%, #00d7ff 100%);
$boxShadow: 0rem 0rem 0.5rem #fff;
$btnBgColor: linear-gradient(224deg, #00d7ff 0%, #00d7ff 100%);
$ptextColor: #6e6e6e;
$pricBtnColor: #01064a;
$h1TextColor: #252525;
$backgroundImgColor:linear-gradient(67deg, #00d7ff 0%, #01064a 100%);
$iconBgColor:#E2F7E8;
$servicesBoxShadow:#ddd;
$iconColor:rgb(240, 240, 37);